<header>
    {% assign nav = site.data.navigation.mainmenu %}
    <input type="checkbox" class="burger">
    <div class="burger"><span></span><span></span><span></span></div>
    <nav id="desktop">
        <ul>
            <li class="logo"><a href="/"><img src="" alt=""></a></li>
            {% for item in nav %}
                <li {% if item.url == page.url %} class="active"{% endif %}> <a href="{{ item.url }}">{{ item.title }}</a>

                    {% comment %}
                {% if item.url contains "sub" %}
                    <ul class="sub">
                        {% for sub in site.works %}
                            <li><a {% if page.url contains item.url %} class="active" {% endif %} href="{{ sub.url }}">{{ sub.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endcomment %}
                </li>
            {% endfor %}
        </ul>
    </nav>
    <nav id="mobile">
        <ul>
            <li><a href="/">Home</a></li>
            {% for item in nav %}
                <li {% if item.url == page.url %} class="active"{% endif %}> <a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>
<main>